[Unit]
Description=WSO2 API Manager
After=network.target

[Service]
ExecStart=/opt/wso2/wso2am-4.2.0/bin/api-manager.sh
ExecStop=/opt/wso2/wso2am-4.2.0/bin/api-manager.sh stop
ExecReload=/opt/wso2/wso2am-4.2.0/bin/api-manager.sh restart
PIDFile=/opt/wso2/wso2am-4.2.0/wso2carbon.pid

[Install]
WantedBy=default.target
